<div class="container">
    <div class="row" style="margin-top: 10rem;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="container forgetPassword">
                <div class="row-sm-4">
                    <div class="form-group">
                        <span style="text-align:center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
              <h4>RESET PASSWORD</h4>
            </span>
                    </div>
                    <div class="form-group">
                        <label for="usr">
              <h6>Password</h6>
            </label>
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="password" name="pass" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">
              <h6>Confirm Password:</h6>
            </label>
                        <input class="form-control" placeholder="Password" [(ngModel)]="confirmPassword" type="password" name="Confirmpass" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success form-control" type="submit" (click)="confirmPasswordReset()">
              <i class="fa fa-resolving"></i> Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>